[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
db-dtypes = "*"
google-cloud-bigquery = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
plotly = "*"
seaborn ="*"
streamlit = "*"
streamlit-authenticator = "*"

[dev-packages]

[requires]
python_version = "3.7"
